@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="row">
    <div class="logincontainer">
        Log In :
        <form class="form-horizontal form-signin form-margin" role="form" name="emailLogin">
            <div class="form-group">
                <label class="control-label col-sm-4" for="email">Email:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="email" name="email" placeholder="Enter Email id">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="pwd">Password:</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Enter password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-12">
                    <a href="postad.html">
                        <button id="login-btn" onclick="login()" class="btn btn-default btn-success">Log in</button>
                    </a>
                    <a href="register.html">
                        <button id="register-btn" class="btn btn-default btn-warning">Register Here!</button>
                    </a>
                </div>
            </div>
        </form>
        <form class="form-horizontal form-signin socialForm-margin" role="form" name="socialLogin">
            <div class="form-group">
                <!--<div class="col-sm-offset-2">
                    <label>Continue with Google | Facebook account</label>
                </div>-->
                <div class="col-sm-offset-1 col-sm-10">
                    <a href="#"><button class="google"><span><img src="/images/gmail.png" width="40px" height="40px"> Continue with Google+</span></button></a> &nbsp &nbsp
                    <a href="#"><button class="facebook"><span><img src="/images/fb.png" width="40px" height="40px"> Continue with Facebook</span></button></a>
                </div>
            </div>
        </form>
    </div>
</div>

