@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="row">
    <div class="detailcontainer">
        <div class="col-xs-5">
            <img class="detail-image" src="/images/2014_ford_fiesta_india.jpg" width="400px" height="300px">
        </div>
        <div class="col-xs-7">
            <h2>2009 Ford Fiesta diesel 60000 Kms</h2>
            <p>
                <span class="label label-default">Hyderbad, 21st April</span>
            </p>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-2 col-sm-2 col-sm-offset-2">
        <h2><span class="label label-success">Rs.4,00,000</span></h2>
    </div>
</div>
