@{
    Layout = null;
}

<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<html>

<head>
    <title>Classifieds</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/classifiedStyles.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <div class="col-sm-4 col-lg-4 col-xs-10">
                <img src="/images/company_logo.png" class="img-responsive">
                <!--<img src="/images/logo.png" width="585" height="150"> -->
            </div>
            <div class="col-sm-6 col-lg-2 col-xs-4 hidden-xs pull-right header-div">
                <h2 class="title">Classifieds</h2>
            </div>
        </div>

        <!-- Nav bar tabs -->
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header mynav">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand visible-xs title" href="#">Classifieds </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav nav-right">
                    <li class="active">
                        <a href="/Home/Home"><span class="glyphicon glyphicon-home" /> Home</a>
                    </li>
                    <li>
                        <a href="/Home/Postad"><span class="glyphicon glyphicon-tasks alt" /> Post Ad</a>
                    </li>
                    <li><a href="/Login/Login"><span class="glyphicon glyphicon-user"> Login</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/Login/myaccount"><span class="glyphicon glyphicon-user" /> MyAccount</a>
                    </li>
                    <li>
                        <a href="/Home/contactus"><span class="glyphicon glyphicon-earphone" /> Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>



        @RenderBody()

    </div>

    <footer class="container text-center">
        <p>2016 @@Techaspect Solutions</p>
    </footer>

    <script src="/Scripts/jquery.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js"></script>

    <script>
        var myCenter = new google.maps.LatLng(17.4446286, 78.3780584);

        function initialize() {
            var mapProp = {
                center: myCenter
                , zoom: 12
                , scrollwheel: false
                , draggable: false
                , mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

            var marker = new google.maps.Marker({
                position: myCenter
            ,
            });

            marker.setMap(map);
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <script>
        $(document).ready(function () {
            $(".image-box").on("click", function (event) {
                var selected = "#" + $(this).attr("id");
                $(selected).toggleClass("image-selected");
                $('.image-box').not(this).removeClass('image-selected');
                $(".category").text($(this).attr("id"));
            });
        });
    </script>
</body>
</html>
