<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
     <add name="TAC_Team3Entities" connectionString="metadata=res://*/TAClassifiedModel.csdl|res://*/TAClassifiedModel.ssdl|res://*/TAClassifiedModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.245;initial catalog=TAC_Team3;persist security info=True;user id=tac_team3;password=tac@team3$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
      <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
     <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IClassifiedService" 
                 maxReceivedMessageSize="2147483647"
                 maxBufferSize="2147483647"
                 maxBufferPoolSize="2147483647" openTimeout="01:00:00"
                closeTimeout="01:00:00"
                sendTimeout="01:00:00"
                receiveTimeout="01:00:00">
          <readerQuotas maxDepth="32"
               maxArrayLength="2147483647"
               maxStringContentLength="2147483647"/>
        </binding>
       
        
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:9025/TAServiceLibrary/ClassifiedService/" behaviorConfiguration="TAClassifiedApplication.TAServiceLibrary.ClassifiedServiceEndpointBehaviour" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IClassifiedService" contract="ServiceReference1.IClassifiedService" name="NetTcpBinding_IClassifiedService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      
    </client>
    <services>
      <service behaviorConfiguration="TAClassifiedApplication.TAServiceLibrary.ClassifiedServiceEndpointBehaviour" name="TAServiceLibrary.ClassifiedService">
        <endpoint address="" binding="netTcpBinding" contract="TAServiceLibrary.IClassifiedService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9025/TAServiceLibrary/ClassifiedService/" />
          </baseAddresses>
        </host>
      </service>
     
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="TAClassifiedApplication.TAServiceLibrary.ClassifiedServiceEndpointBehaviour">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
       
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="TAClassifiedApplication.TAServiceLibrary.ClassifiedServiceEndpointBehaviour">
          <serviceMetadata httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
